* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.clearfix::after {   /* ЧТОБЫ ВЕЗДЕ НЕ ПРОПИСЫВАТЬ clear*/
	content: "";
	display: block;
	clear: both;
}
body {
	font-family: 'Lato', sans-serif;
}
.container {
	max-width: 1170px; /*  */
	margin: 0 auto;
	padding: 0 15px;
}
.container--small {
	max-width: 730px; /* ЧТОБЫ НЕ СХЛОПЫВАЛСЯ КОНТЕЙНЕР */
}

.btn {   /*потому что кнопка повторяется!!!!!*/
	padding: 0 15px;
	display: inline-block;
	min-width: 138px; /*чтобы кнопка растягивалась от контента!!!!!*/
	height: 38px;
	color: #48BF72;
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	border: 2px solid #48bf72;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	line-height: 34px;
	text-decoration: none;
}
.btn--dark {
	border: 2px solid #3c4955;
	color: #3c4955;
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
}

.info-hover {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(72, 191, 114, 0.7);
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	opacity: 0;
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.info-hover--center {
	display: inline-block;
	text-align: center;
}
.info-hover__text-wrap {
	display: table-cell;
	vertical-align: middle;
}
.info-hover__text-wrap--first {
	height: 302px;
}
.info-hover__text-wrap--second {
	height: 486px;
}
.info-hover__text-wrap--third {
	height: 438px;
}
.info-hover__text-wrap--fourth {
	height: 350px;
}
.info-hover__title {
	color: #ffffff;
	line-height: 30px;
	font-size: 30px;
	font-weight: 700;
}
.info-hover__subtitle {
	color: #ffffff;
	line-height: 30px;
	font-size: 16px;
	font-weight: 400;
}

/* -------- .banner -------- */

.banner {
	padding-top: 30px;
	position: relative;
	min-height: 650px;
	background-repeat: no-repeat;
	background-position: center;
    z-index: 1;
}
.banner--header {
	background-image: url("../../img/computer.png");
}
.banner--section {
	background-image: url("../../img/men-computer.png");
}
.banner::before {
	content: "";
	display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(60, 73, 85, .7);
    z-index: -1;
}
/* -------- .banner -------- */


