.tabs__nav--wrap {
	text-align: center;
}
.tabs__nav {
	display: inline-block;
	padding-bottom: 51px;
	padding-top: 50px;
}
.tabs__col--narrow {
	float: left;
	width: 40%;
	padding-right: 20px;
}
.tabs__col--wide {
	float: right;
	width: 60%;
	padding-left: 20px;
}
.tabs__image {
	max-width: 100%;
	opacity: 0;
}
.tabs__image--wrap {
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	
}
.tabs__image--wrap--first {
	margin-bottom: 40px;
	height: 302px;
	background-image: url("../../img/multiple.png");
}
.tabs__image--wrap--second {
	height: 486px;
	background-image: url("../../img/app.png");
}
.tabs__image--wrap--third {
	margin-bottom: 40px;
	height: 438px;
	background-image: url("../../img/identite.jpg");
}
.tabs__image--wrap--fourth {
	height: 350px;
	background-image: url("../../img/prototype.jpg");
}